a {
  color: #ed252d;
  text-decoration: none;
}

a:hover {
  color: #999999 !important;
  text-decoration: none;
}

a:visited {
  color: #0060af;
  text-decoration: none;
}

body {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.bodyimage {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.bulk {
  width: 50%;
  margin: 0 auto;
}

.chapterheadline {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 0px;
}

.twitter-tweet {
  margin: 0 auto;
}

.c3 text {
  font-family: 'Oswald';
}

.col-sm-12 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.graphic-container {
  font-family: 'Oswald';
  padding-bottom: 20px;
}

.heroimage {
  width: 100%;
}

.photocaption {
  color: #777;
  font-size: 0.75em;
  padding: 5px 0px 20px 0px;
  text-align: center;
}

.row {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.singletary_audio {
  width: 400px;
  margin: 0 auto;
}

#byline {
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}

#deckline {
  font-size: 1.75em;
  font-style: italic;
  padding-bottom: 5px;
  text-align: center;
}

#end {
  font-style:italic;
}

#headline {
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

#heroimage {
  color: #999;
  font-style: italic;
  margin-bottom: 100px;
}
